/* line 1, ../compass/sass/style.scss */
#hello {
  position: relative;
  background-color: white;
  height: 80px;
  width: 100%;
  z-index: 1000;
}

/* line 11, ../compass/sass/style.scss */
#hello ul {
  text-align: center;
}

/* line 15, ../compass/sass/style.scss */
#hello li {
  display: inline-block;
  padding: 24px 48px;
}

/* line 20, ../compass/sass/style.scss */
#hello a {
  font-size: 16px;
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
  font: green;
}

/* line 29, ../compass/sass/style.scss */
.hello-scrolled {
  position: fixed !important;
  top: 0;
  width: 100%;
  z-index: 200;
  padding-bottom: 12px;
  transition: all 2s;
  display: none;
  color: orange;
  opacity: .98;
}

/* line 41, ../compass/sass/style.scss */
.margin-adjust {
  margin-top: 80px;
}

/* line 45, ../compass/sass/style.scss */
a {
  color: #ffc04d !important;
}
