/* line 1, ../compass/sass/style.scss */
#navbar {
  position: relative;
  background-color: #3c3c3c;
  height: 60px;
  width: 100%;
  z-index: 1000;
  line-height: 60px;
  opacity: .90;
}

/* line 13, ../compass/sass/style.scss */
#navbar ul {
  text-align: center;
  padding-left: 0px;
}

/* line 18, ../compass/sass/style.scss */
#navbar li {
  display: inline-block;
  padding: 0px 60px;
}

/* line 23, ../compass/sass/style.scss */
#navbar a {
  font-size: 14px;
  text-decoration: none;
  font-weight: 300;
  letter-spacing: 3px;
  display: none;
  text-transform: uppercase;
  color: white !important;
}

/* line 35, ../compass/sass/style.scss */
#navbar a:hover {
  color: #ffdb99 !important;
}

/* line 39, ../compass/sass/style.scss */
.navbar-scrolled {
  position: fixed !important;
  top: 0;
  z-index: 200;
  padding-bottom: 12px;
}

/* line 49, ../compass/sass/style.scss */
.line {
  width: 70px;
  height: 2px;
  background-color: orange;
  margin-bottom: 20px;
  margin-top: -6px;
}

/* line 60, ../compass/sass/style.scss */
#main {
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 60px;
  background-color: white;
  padding-bottom: 60px;
}
/* line 66, ../compass/sass/style.scss */
#main #about-us {
  font-weight: 300;
}
/* line 69, ../compass/sass/style.scss */
#main #about-us #something-sweet {
  background: #f1f1f1;
  display: inline-block;
  padding: 10px;
  margin-bottom: 20px;
}
/* line 76, ../compass/sass/style.scss */
#main #about-us #photos #cat, #main #about-us #photos #stephen, #main #about-us #photos #dog {
  margin-top: 20px;
  width: 33.33333%;
  float: left;
  text-align: center;
  opacity: 0.5;
}
/* line 82, ../compass/sass/style.scss */
#main #about-us #photos #cat img, #main #about-us #photos #stephen img, #main #about-us #photos #dog img {
  max-width: 80%;
  border-radius: 50%;
}
/* line 87, ../compass/sass/style.scss */
#main #about-us #photos #cat:hover, #main #about-us #photos #stephen:hover, #main #about-us #photos #dog:hover {
  opacity: 1.0;
  cursor: pointer;
  transition: all 1s;
}
/* line 94, ../compass/sass/style.scss */
#main #about-us #photo-titles #cat2, #main #about-us #photo-titles #stephen2, #main #about-us #photo-titles #dog2 {
  overflow: hidden;
  margin-top: 10px;
  width: 33.33333%;
  float: left;
  font-size: 14px;
  text-align: center;
  font-weight: 400;
  margin-bottom: 40px;
  letter-spacing: 2px;
}
/* line 106, ../compass/sass/style.scss */
#main #about-us #descriptions {
  clear: both;
  height: 0px;
  width: 60%;
  margin: auto;
  text-align: center;
  font-family: 'Crimson Text', sans-serif;
  font-style: italic;
  transition: height 1s;
}
/* line 119, ../compass/sass/style.scss */
#main #about-us #descriptions .cat-description {
  display: none;
}
/* line 122, ../compass/sass/style.scss */
#main #about-us #descriptions .stephen-description {
  display: none;
}
/* line 125, ../compass/sass/style.scss */
#main #about-us #descriptions .dog-description {
  display: none;
}

/* line 132, ../compass/sass/style.scss */
#skills-wrapper {
  background: #f1f1f1;
  width: 100%;
}
/* line 135, ../compass/sass/style.scss */
#skills-wrapper #skills {
  padding-top: 60px;
  margin: auto;
  width: 80%;
}
/* line 139, ../compass/sass/style.scss */
#skills-wrapper #skills #progress-title {
  font-weight: 300;
  margin-bottom: 20px;
}
/* line 143, ../compass/sass/style.scss */
#skills-wrapper #skills #something-sweet2 {
  background: white;
  padding: 10px;
  margin-bottom: 20px;
  float: left;
}
/* line 149, ../compass/sass/style.scss */
#skills-wrapper #skills #filler {
  clear: both;
}
/* line 153, ../compass/sass/style.scss */
#skills-wrapper #skills .progress-bar-title {
  margin-left: 10%;
  width: 40%;
  float: left;
  font-size: 10px;
  color: black;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  margin-bottom: 11px;
}
/* line 164, ../compass/sass/style.scss */
#skills-wrapper #skills .progress-bar-percent {
  margin-right: 10%;
  width: 40%;
  text-align: right;
  float: left;
  font-size: 11px;
  font-family: 'Raleyway', sans-serif;
  font-weight: 400;
  margin-bottom: 10px;
}
/* line 175, ../compass/sass/style.scss */
#skills-wrapper #skills #progress {
  width: 80%;
  margin-left: 10%;
  border: 1px solid #e1e1e1;
}
/* line 181, ../compass/sass/style.scss */
#skills-wrapper #skills .progress {
  background: whitesmoke;
  border: 9px solid whitesmoke;
  border-radius: 0px;
  height: 20px;
}
/* line 186, ../compass/sass/style.scss */
#skills-wrapper #skills .progress .progress-bar {
  background: orange;
  margin-top: 9px;
  margin-left: 7px;
  height: 2px;
}
/* line 192, ../compass/sass/style.scss */
#skills-wrapper #skills .progress #bar1, #skills-wrapper #skills .progress #bar2, #skills-wrapper #skills .progress #bar3, #skills-wrapper #skills .progress #bar4, #skills-wrapper #skills .progress #bar5 {
  width: 0%;
  transition: all 3s;
}
/* line 199, ../compass/sass/style.scss */
#skills-wrapper #count-wrapper {
  width: 80%;
  margin: auto;
  text-align: center;
  padding-bottom: 20px;
  height: 200px;
}
/* line 205, ../compass/sass/style.scss */
#skills-wrapper #count-wrapper .num1, #skills-wrapper #count-wrapper .num2, #skills-wrapper #count-wrapper .num3, #skills-wrapper #count-wrapper .num4 {
  float: left;
  width: 25%;
  text-transform: uppercase;
  font-family: 'Inconsolata', sans-serif;
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 2px;
  padding-bottom: 20px;
}
/* line 216, ../compass/sass/style.scss */
#skills-wrapper #count-wrapper .num1 #num1, #skills-wrapper #count-wrapper .num1 #num2, #skills-wrapper #count-wrapper .num1 #num3, #skills-wrapper #count-wrapper .num1 #num4, #skills-wrapper #count-wrapper .num2 #num1, #skills-wrapper #count-wrapper .num2 #num2, #skills-wrapper #count-wrapper .num2 #num3, #skills-wrapper #count-wrapper .num2 #num4, #skills-wrapper #count-wrapper .num3 #num1, #skills-wrapper #count-wrapper .num3 #num2, #skills-wrapper #count-wrapper .num3 #num3, #skills-wrapper #count-wrapper .num3 #num4, #skills-wrapper #count-wrapper .num4 #num1, #skills-wrapper #count-wrapper .num4 #num2, #skills-wrapper #count-wrapper .num4 #num3, #skills-wrapper #count-wrapper .num4 #num4 {
  font-family: 'Raleway', sans-serif;
  font-weight: 200;
  font-size: 72px;
  letter-spacing: -2px;
}

/* line 241, ../compass/sass/style.scss */
.margin-adjust {
  margin-top: 60px;
}

/* line 246, ../compass/sass/style.scss */
#pano-image {
  background-image: url("../../img/iceland5.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  width: 100%;
  height: 400px;
  position: relative;
}
/* line 255, ../compass/sass/style.scss */
#pano-image #pano-text {
  position: absolute;
  margin: auto;
  width: 60%;
  text-align: center;
  font-family: 'Crimson Text', sans-serif;
  font-style: italic;
  font-size: 20px;
  color: white;
  letter-spacing: 2px;
  top: 156px;
  left: 20%;
  border-top: 1px solid orange;
  border-bottom: 1px solid orange;
  padding: 15px 0 15px 0;
}

/* line 273, ../compass/sass/style.scss */
#contact-me {
  margin-top: 40px;
  background: white;
  width: 100%;
  padding: 20px 10% 0px 10%;
  overflow: hidden;
  margin-bottom: 80px;
}
/* line 280, ../compass/sass/style.scss */
#contact-me #contact-title {
  font-weight: 300;
  margin-bottom: 20px;
}
/* line 285, ../compass/sass/style.scss */
#contact-me #something-sweet3 {
  background: #f1f1f1;
  display: inline-block;
  padding: 10px;
  margin-bottom: 20px;
}
/* line 293, ../compass/sass/style.scss */
#contact-me form #left {
  float: left;
  width: 48.5%;
}
/* line 296, ../compass/sass/style.scss */
#contact-me form #left .labels {
  width: 100%;
}
/* line 298, ../compass/sass/style.scss */
#contact-me form #left .labels .form-control {
  width: 100%;
  background: transparent;
  height: 60px;
  border: 0;
  border-bottom: 1px solid orange;
  border-left: 1px solid orange;
  font-size: 11px;
  text-transform: uppercase;
  font-family: 'Inconsolata', sans-serif;
  font-weight: 300;
  color: #666;
  padding: 0px;
  padding-left: 10px;
  border-radius: 0px;
  box-shadow: none;
}
/* line 315, ../compass/sass/style.scss */
#contact-me form #left .labels .help-block {
  color: #a94442;
  font-size: 14px;
  font-family: 'Inconsolata', sans-serif;
  font-weight: 400;
}
/* line 323, ../compass/sass/style.scss */
#contact-me form #right {
  float: left;
  width: 48.5%;
  margin-left: 3%;
}
/* line 327, ../compass/sass/style.scss */
#contact-me form #right .labels {
  width: 100%;
}
/* line 329, ../compass/sass/style.scss */
#contact-me form #right .labels .form-control {
  background: transparent;
  border: 0;
  border-bottom: 1px solid orange;
  border-left: 1px solid orange;
  font-size: 11px;
  text-transform: uppercase;
  font-family: 'Inconsolata', sans-serif;
  font-weight: 300;
  color: #666;
  padding: 0px;
  padding-left: 10px;
  border-radius: 0px;
  box-shadow: none;
  height: 220px;
}
/* line 345, ../compass/sass/style.scss */
#contact-me form #right .labels .help-block {
  color: #a94442;
  font-size: 14px;
  font-family: 'Inconsolata', sans-serif;
  font-weight: 400;
}
/* line 353, ../compass/sass/style.scss */
#contact-me form button {
  width: 100%;
  background: transparent;
  border: 1px solid orange;
  font-size: 13px;
  text-transform: uppercase;
  font-family: 'Inconsolata', sans-serif;
  font-weight: 400;
  color: #555;
  padding: 0px;
  padding-left: 10px;
  border-radius: 0px;
  box-shadow: none;
  margin-top: 20px;
  text-align: center;
  letter-spacing: 6px;
  height: 40px;
}

/* line 377, ../compass/sass/style.scss */
footer {
  height: 60px;
  background-color: #dcdcdc;
  margin-bottom: 0px;
  margin-top: 0px;
  line-height: 60px;
  font-weight: 300;
  font-size: 12px;
}
/* line 385, ../compass/sass/style.scss */
footer #footer-text-container {
  width: 75%;
  float: left;
}
/* line 388, ../compass/sass/style.scss */
footer #footer-text-container #footer1, footer #footer-text-container #footer2, footer #footer-text-container #footer3 {
  display: inline-block;
  margin-left: 5%;
}
/* line 393, ../compass/sass/style.scss */
footer #fonticon-container {
  width: 20%;
  float: left;
  text-align: right;
  margin-right: 5%;
}
/* line 398, ../compass/sass/style.scss */
footer #fonticon-container .fonticon {
  width: 50px;
  line-height: 60px;
  display: inline-block;
}
/* line 402, ../compass/sass/style.scss */
footer #fonticon-container .fonticon img {
  width: 24px;
  opacity: 0.6;
}
/* line 406, ../compass/sass/style.scss */
footer #fonticon-container .fonticon img:hover {
  opacity: 1.0;
}

@media screen and (max-width: 789px) {
  /* line 419, ../compass/sass/style.scss */
  footer #footer-text-container {
    float: none;
    width: 100%;
    text-align: center;
    margin: 0px;
  }
  /* line 424, ../compass/sass/style.scss */
  footer #footer-text-container #footer1, footer #footer-text-container #footer2, footer #footer-text-container #footer3 {
    margin: 0px 2.5% 0 2.5%;
  }
  /* line 428, ../compass/sass/style.scss */
  footer #fonticon-container {
    float: none;
    width: 100%;
    text-align: center;
  }

  /* line 434, ../compass/sass/style.scss */
  #main #about-us #descriptions {
    width: 75%;
  }

  /* line 437, ../compass/sass/style.scss */
  #navbar li {
    padding: 0px 30px;
  }

  /* line 440, ../compass/sass/style.scss */
  #contact-me form #left {
    width: 70%;
    margin: auto;
    float: none;
  }

  /* line 445, ../compass/sass/style.scss */
  #contact-me form #right {
    float: none;
    margin: auto;
    width: 70%;
  }
  /* line 449, ../compass/sass/style.scss */
  #contact-me form #right .labels .form-control {
    height: 120px;
  }

  /* line 453, ../compass/sass/style.scss */
  #contact-me form button {
    width: 70%;
    margin-left: 15%;
  }

  /* line 458, ../compass/sass/style.scss */
  #pano-image #pano-text {
    top: 142px;
  }
}
@media screen and (max-width: 575px) {
  /* line 473, ../compass/sass/style.scss */
  footer #footer-text-container #footer3 {
    display: block;
    background-color: #dcdcdc;
    width: 100%;
    margin: 0px;
  }

  /* line 484, ../compass/sass/style.scss */
  #pano-image #pano-text {
    font-size: 16px;
    top: 151px;
    padding: 15px;
  }

  /* line 492, ../compass/sass/style.scss */
  #contact-me form #left {
    width: 80%;
    margin: auto;
    float: none;
  }

  /* line 497, ../compass/sass/style.scss */
  #contact-me form #right {
    float: none;
    margin: auto;
    width: 80%;
  }
  /* line 501, ../compass/sass/style.scss */
  #contact-me form #right .labels .form-control {
    height: 120px;
  }

  /* line 505, ../compass/sass/style.scss */
  #contact-me form button {
    width: 80%;
    margin-left: 10%;
  }
}
@media screen and (max-width: 534px) {
  /* line 514, ../compass/sass/style.scss */
  #main #about-us #descriptions {
    width: 85%;
    height: 190px;
  }

  /* line 518, ../compass/sass/style.scss */
  #navbar li {
    padding: 0px 15px;
  }
}
