/* line 1, ../compass/sass/style.scss */
h2 {
  font-weight: 700;
  margin-bottom: 20px;
  font-family: 'Inconsolata', sans-serif;
  font-size: 39px;
  line-height: 43px;
  color: #222;
  text-transform: uppercase;
}

/* line 10, ../compass/sass/style.scss */
h3 {
  font-family: 'Inconsolata', sans-serif;
  font-weight: 700;
  color: #222;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 30px;
  margin: 0px;
  padding: 0px;
}

/* line 23, ../compass/sass/style.scss */
.pageheading {
  z-index: 80;
  color: white;
  width: 100%;
  top: 30%;
  text-align: center;
  width: 80%;
  margin-left: 10%;
}
/* line 31, ../compass/sass/style.scss */
.pageheading img {
  zoom: 0.8;
  padding-bottom: 10px;
}
/* line 35, ../compass/sass/style.scss */
.pageheading h1 {
  font-family: 'Varela Round', sans-serif;
  letter-spacing: 8px;
  font-size: 48px;
  font-weight: 400;
  margin: 0px;
  /*text-shadow: 3px 1px 13px rgba(150, 150, 150, 1);*/
}
/* line 43, ../compass/sass/style.scss */
.pageheading #web-developer {
  color: white;
  font-weight: 400;
  margin: 0px;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 32px;
  letter-spacing: 8px;
}

/* line 59, ../compass/sass/style.scss */
#navbar {
  position: relative;
  background-color: #3c3c3c;
  height: 60px;
  width: 100%;
  z-index: 1000;
  line-height: 60px;
  opacity: .90;
}

/* line 71, ../compass/sass/style.scss */
#navbar ul {
  text-align: center;
  padding-left: 0px;
}

/* line 76, ../compass/sass/style.scss */
#navbar li {
  display: inline-block;
  padding: 0px 60px;
}

/* line 81, ../compass/sass/style.scss */
#navbar a {
  font-size: 14px;
  text-decoration: none;
  font-weight: 300;
  letter-spacing: 3px;
  display: none;
  text-transform: uppercase;
  color: white !important;
}

/* line 93, ../compass/sass/style.scss */
#navbar a:hover {
  color: #ffdb99 !important;
}

/* line 98, ../compass/sass/style.scss */
.navbar-scrolled {
  position: fixed !important;
  top: 0;
  z-index: 200;
  padding-bottom: 12px;
}

/* line 107, ../compass/sass/style.scss */
.margin-adjust {
  margin-top: 60px;
}

/* line 113, ../compass/sass/style.scss */
.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1500;
  height: 100%;
  overflow: hidden;
  background: rgba(255, 255, 255, 0.9);
  width: 100%;
  transform: translateX(100%);
  transition: .3s all ease;
  padding-right: 40px;
}

/* line 127, ../compass/sass/style.scss */
.sidebar.active {
  transform: translateX(0%);
}
/* line 129, ../compass/sass/style.scss */
.sidebar.active .menu-nav {
  text-align: center;
  margin-top: 70px;
  list-style: none;
}
/* line 133, ../compass/sass/style.scss */
.sidebar.active .menu-nav li {
  width: 100%;
  font-family: 'Inconsolata', sans-serif;
  font-size: 32px;
  letter-spacing: 4px;
  line-height: 48px;
  padding-top: 25px;
}
/* line 140, ../compass/sass/style.scss */
.sidebar.active .menu-nav li a {
  text-decoration: none;
  color: #555;
}
/* line 144, ../compass/sass/style.scss */
.sidebar.active .menu-nav li a:hover {
  text-decoration: line-through;
  color: orange;
}

/* line 153, ../compass/sass/style.scss */
.burger-menu {
  position: fixed;
  top: 18px;
  right: 30px;
  z-index: 2000;
  background: none;
  width: 30px;
  height: 24px;
  cursor: pointer;
  padding: 3px;
  transition: .3s all ease .15s;
  display: none;
}
/* line 165, ../compass/sass/style.scss */
.burger-menu .bar:first-child {
  top: 0;
}
/* line 168, ../compass/sass/style.scss */
.burger-menu .bar:nth-child(2) {
  top: 10px;
}
/* line 171, ../compass/sass/style.scss */
.burger-menu .bar:last-child {
  bottom: 0;
}
/* line 174, ../compass/sass/style.scss */
.burger-menu .bar {
  width: 100%;
  height: 4px;
  background: orange;
  position: absolute;
  left: 0;
  transition: all .3s;
}

/* line 185, ../compass/sass/style.scss */
.burger-menu.active {
  transform-origin: center center;
  transform: rotate(-180deg);
}
/* line 188, ../compass/sass/style.scss */
.burger-menu.active .bar:first-child {
  top: 50%;
  transform: translateY(-50%);
}
/* line 192, ../compass/sass/style.scss */
.burger-menu.active .bar:nth-child(2) {
  top: 10px;
  transform: rotate(-180deg);
}
/* line 196, ../compass/sass/style.scss */
.burger-menu.active .bar:last-child {
  bottom: 50%;
  transform: translateY(50%);
}

/* line 203, ../compass/sass/style.scss */
.line {
  width: 70px;
  height: 2px;
  background-color: orange;
  margin-bottom: 20px;
  margin-top: -6px;
}

/* line 213, ../compass/sass/style.scss */
#main {
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 60px;
  background-color: white;
  padding-bottom: 60px;
}
/* line 219, ../compass/sass/style.scss */
#main #about-us {
  font-weight: 300;
}
/* line 221, ../compass/sass/style.scss */
#main #about-us #something-sweet {
  background: #f1f1f1;
  display: inline-block;
  padding: 10px;
  margin-bottom: 20px;
  font-family: 'Inconsolata', sans-serif;
  font-weight: 400;
  letter-spacing: 3px;
}
/* line 231, ../compass/sass/style.scss */
#main #about-us #photos #cat, #main #about-us #photos #stephen, #main #about-us #photos #dog {
  margin-top: 20px;
  width: 33.33333%;
  float: left;
  text-align: center;
  opacity: 0.5;
}
/* line 237, ../compass/sass/style.scss */
#main #about-us #photos #cat img, #main #about-us #photos #stephen img, #main #about-us #photos #dog img {
  max-width: 80%;
  border-radius: 50%;
}
/* line 242, ../compass/sass/style.scss */
#main #about-us #photos #cat:hover, #main #about-us #photos #stephen:hover, #main #about-us #photos #dog:hover {
  opacity: 1.0;
  cursor: pointer;
  transition: all 1s;
}
/* line 249, ../compass/sass/style.scss */
#main #about-us #photo-titles #cat2, #main #about-us #photo-titles #stephen2, #main #about-us #photo-titles #dog2 {
  overflow: hidden;
  margin-top: 10px;
  width: 33.33333%;
  float: left;
  font-size: 14px;
  text-align: center;
  font-weight: 400;
  margin-bottom: 40px;
  letter-spacing: 2px;
}
/* line 261, ../compass/sass/style.scss */
#main #about-us #descriptions {
  clear: both;
  height: 0px;
  width: 60%;
  margin: auto;
  text-align: center;
  font-family: 'Crimson Text', sans-serif;
  font-style: italic;
  transition: height 1s;
  font-size: 16px;
}
/* line 275, ../compass/sass/style.scss */
#main #about-us #descriptions .cat-description {
  display: none;
}
/* line 278, ../compass/sass/style.scss */
#main #about-us #descriptions .stephen-description {
  display: none;
}
/* line 281, ../compass/sass/style.scss */
#main #about-us #descriptions .dog-description {
  display: none;
}

/* line 289, ../compass/sass/style.scss */
#portfolio-wrapper {
  background: #f1f1f1;
  width: 100%;
  padding-bottom: 80px;
}
/* line 293, ../compass/sass/style.scss */
#portfolio-wrapper #portfolio {
  padding-top: 60px;
  width: 80%;
  margin: auto;
  background: #f1f1f1;
}
/* line 298, ../compass/sass/style.scss */
#portfolio-wrapper #portfolio #line {
  width: 70px;
  height: 2px;
  background-color: orange;
  margin-bottom: 20px;
  margin-top: -6px;
}
/* line 305, ../compass/sass/style.scss */
#portfolio-wrapper #portfolio #something-sweet4 {
  background: white;
  padding: 10px;
  margin-bottom: 20px;
  font-family: 'Inconsolata', sans-serif;
  font-weight: 400;
  letter-spacing: 3px;
  float: left;
}
/* line 315, ../compass/sass/style.scss */
#portfolio-wrapper #pictures {
  width: 80%;
  margin: auto;
}
/* line 318, ../compass/sass/style.scss */
#portfolio-wrapper #pictures .portfolio {
  margin-top: 40px;
  position: relative;
}
/* line 321, ../compass/sass/style.scss */
#portfolio-wrapper #pictures .portfolio img {
  width: 100%;
}
/* line 324, ../compass/sass/style.scss */
#portfolio-wrapper #pictures .portfolio a {
  text-decoration: none;
  color: black;
}
/* line 327, ../compass/sass/style.scss */
#portfolio-wrapper #pictures .portfolio a .caption {
  position: absolute;
  top: 15px;
  right: 30px;
  bottom: 15px;
  left: 30px;
  background: rgba(241, 241, 241, 0.92);
  z-index: 10;
  filter: alpha(opacity=0);
  opacity: 0;
  -webkit-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  -ms-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}
/* line 342, ../compass/sass/style.scss */
#portfolio-wrapper #pictures .portfolio a .caption .caption-content {
  position: absolute;
  top: 0px;
  width: 100%;
}
/* line 346, ../compass/sass/style.scss */
#portfolio-wrapper #pictures .portfolio a .caption .caption-content .title {
  text-align: center;
  width: 100%;
}
/* line 350, ../compass/sass/style.scss */
#portfolio-wrapper #pictures .portfolio a .caption .caption-content .horizontal-rule {
  width: 100%;
}
/* line 352, ../compass/sass/style.scss */
#portfolio-wrapper #pictures .portfolio a .caption .caption-content .horizontal-rule .line2 {
  width: 80%;
  margin-left: 10%;
  margin-top: 15px;
  margin-bottom: 15px;
  height: 2px;
  background: orange;
}
/* line 361, ../compass/sass/style.scss */
#portfolio-wrapper #pictures .portfolio a .caption .caption-content .description {
  text-align: center;
  width: 100%;
}
/* line 364, ../compass/sass/style.scss */
#portfolio-wrapper #pictures .portfolio a .caption .caption-content .description .text-space {
  width: 80%;
  margin-left: 10%;
  letter-spacing: 2px;
}
/* line 375, ../compass/sass/style.scss */
#portfolio-wrapper #pictures .portfolio:hover .caption {
  filter: alpha(opacity=100);
  opacity: 1;
  cursor: pointer;
}

/* line 385, ../compass/sass/style.scss */
.filler {
  clear: both;
}

/* line 390, ../compass/sass/style.scss */
#skills-wrapper {
  background: white;
}
/* line 392, ../compass/sass/style.scss */
#skills-wrapper #skills {
  padding-top: 60px;
  margin: auto;
  width: 80%;
}
/* line 396, ../compass/sass/style.scss */
#skills-wrapper #skills #something-sweet2 {
  background: #f1f1f1;
  padding: 10px;
  margin-bottom: 20px;
  font-family: 'Inconsolata', sans-serif;
  font-weight: 400;
  letter-spacing: 3px;
  float: left;
}
/* line 406, ../compass/sass/style.scss */
#skills-wrapper #skills .progress-bar-title {
  margin-left: 10%;
  width: 40%;
  float: left;
  font-size: 10px;
  color: black;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  margin-bottom: 11px;
}
/* line 417, ../compass/sass/style.scss */
#skills-wrapper #skills .progress-bar-percent {
  margin-right: 10%;
  width: 40%;
  text-align: right;
  float: left;
  font-size: 11px;
  font-family: 'Raleyway', sans-serif;
  font-weight: 400;
  margin-bottom: 10px;
}
/* line 428, ../compass/sass/style.scss */
#skills-wrapper #skills #progress {
  width: 80%;
  margin-left: 10%;
  border: 1px solid #e1e1e1;
}
/* line 434, ../compass/sass/style.scss */
#skills-wrapper #skills .progress {
  background: whitesmoke;
  border: 9px solid whitesmoke;
  border-radius: 0px;
  height: 20px;
}
/* line 439, ../compass/sass/style.scss */
#skills-wrapper #skills .progress .progress-bar {
  background: orange;
  margin-top: 9px;
  margin-left: 7px;
  height: 2px;
}
/* line 445, ../compass/sass/style.scss */
#skills-wrapper #skills .progress #bar1, #skills-wrapper #skills .progress #bar2, #skills-wrapper #skills .progress #bar3, #skills-wrapper #skills .progress #bar4, #skills-wrapper #skills .progress #bar5 {
  width: 0%;
  transition: all 3s;
}
/* line 452, ../compass/sass/style.scss */
#skills-wrapper #count-wrapper {
  width: 80%;
  margin: auto;
  text-align: center;
  padding-bottom: 20px;
  height: 200px;
}
/* line 459, ../compass/sass/style.scss */
#skills-wrapper #count-wrapper .num1, #skills-wrapper #count-wrapper .num2, #skills-wrapper #count-wrapper .num3, #skills-wrapper #count-wrapper .num4 {
  float: left;
  width: 25%;
  text-transform: uppercase;
  font-family: 'Inconsolata', sans-serif;
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 2px;
  padding-bottom: 10px;
}
/* line 471, ../compass/sass/style.scss */
#skills-wrapper #count-wrapper .num1 #num1, #skills-wrapper #count-wrapper .num1 #num2, #skills-wrapper #count-wrapper .num1 #num3, #skills-wrapper #count-wrapper .num1 #num4, #skills-wrapper #count-wrapper .num2 #num1, #skills-wrapper #count-wrapper .num2 #num2, #skills-wrapper #count-wrapper .num2 #num3, #skills-wrapper #count-wrapper .num2 #num4, #skills-wrapper #count-wrapper .num3 #num1, #skills-wrapper #count-wrapper .num3 #num2, #skills-wrapper #count-wrapper .num3 #num3, #skills-wrapper #count-wrapper .num3 #num4, #skills-wrapper #count-wrapper .num4 #num1, #skills-wrapper #count-wrapper .num4 #num2, #skills-wrapper #count-wrapper .num4 #num3, #skills-wrapper #count-wrapper .num4 #num4 {
  font-family: 'Raleway', sans-serif;
  font-weight: 200;
  font-size: 72px;
  letter-spacing: -2px;
}
/* line 477, ../compass/sass/style.scss */
#skills-wrapper #count-wrapper .num1 .border, #skills-wrapper #count-wrapper .num2 .border, #skills-wrapper #count-wrapper .num3 .border, #skills-wrapper #count-wrapper .num4 .border {
  float: left;
  width: 80%;
  margin: 10px 10% 0px 10%;
  border: 1px solid orange;
}
/* line 487, ../compass/sass/style.scss */
#skills-wrapper #owl-carousel {
  width: 60%;
  margin: auto;
  padding-bottom: 60px;
}
/* line 491, ../compass/sass/style.scss */
#skills-wrapper #owl-carousel .item {
  margin: 3px;
}
/* line 493, ../compass/sass/style.scss */
#skills-wrapper #owl-carousel .item img {
  display: block;
  width: 100%;
  height: auto;
}

/* line 505, ../compass/sass/style.scss */
#pano-image {
  background-image: url("../../img/iceland5.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  width: 100%;
  height: 400px;
  position: relative;
}
/* line 514, ../compass/sass/style.scss */
#pano-image #pano-text {
  position: absolute;
  margin: auto;
  width: 60%;
  text-align: center;
  font-family: 'Crimson Text', sans-serif;
  font-style: italic;
  font-size: 20px;
  color: white;
  letter-spacing: 2px;
  top: 156px;
  left: 20%;
  border-top: 1px solid orange;
  border-bottom: 1px solid orange;
  padding: 15px 0 15px 0;
}

/* line 533, ../compass/sass/style.scss */
#contact-me {
  margin-top: 40px;
  background: white;
  width: 100%;
  padding: 20px 10% 0px 10%;
  overflow: hidden;
  margin-bottom: 80px;
}
/* line 547, ../compass/sass/style.scss */
#contact-me #something-sweet3 {
  background: #f1f1f1;
  display: inline-block;
  padding: 10px;
  margin-bottom: 20px;
  font-family: 'Inconsolata', sans-serif;
  font-weight: 400;
  letter-spacing: 3px;
}
/* line 558, ../compass/sass/style.scss */
#contact-me form #left {
  float: left;
  width: 48.5%;
}
/* line 561, ../compass/sass/style.scss */
#contact-me form #left .labels {
  width: 100%;
}
/* line 563, ../compass/sass/style.scss */
#contact-me form #left .labels .form-control {
  width: 100%;
  background: transparent;
  height: 60px;
  border: 0;
  border-bottom: 1px solid orange;
  border-left: 1px solid orange;
  font-size: 11px;
  text-transform: uppercase;
  font-family: 'Inconsolata', sans-serif;
  font-weight: 300;
  color: #666;
  padding: 0px;
  padding-left: 10px;
  border-radius: 0px;
  box-shadow: none;
}
/* line 580, ../compass/sass/style.scss */
#contact-me form #left .labels .help-block {
  color: #a94442;
  font-size: 14px;
  font-family: 'Inconsolata', sans-serif;
  font-weight: 400;
}
/* line 588, ../compass/sass/style.scss */
#contact-me form #right {
  float: left;
  width: 48.5%;
  margin-left: 3%;
}
/* line 592, ../compass/sass/style.scss */
#contact-me form #right .labels {
  width: 100%;
}
/* line 594, ../compass/sass/style.scss */
#contact-me form #right .labels .form-control {
  background: transparent;
  border: 0;
  border-bottom: 1px solid orange;
  border-left: 1px solid orange;
  font-size: 11px;
  text-transform: uppercase;
  font-family: 'Inconsolata', sans-serif;
  font-weight: 300;
  color: #666;
  padding: 0px;
  padding-left: 10px;
  border-radius: 0px;
  box-shadow: none;
  height: 220px;
}
/* line 610, ../compass/sass/style.scss */
#contact-me form #right .labels .help-block {
  color: #a94442;
  font-size: 14px;
  font-family: 'Inconsolata', sans-serif;
  font-weight: 400;
}
/* line 618, ../compass/sass/style.scss */
#contact-me form button {
  width: 100%;
  background: transparent;
  border: 1px solid orange;
  font-size: 13px;
  text-transform: uppercase;
  font-family: 'Inconsolata', sans-serif;
  font-weight: 400;
  color: #555;
  padding: 0px;
  padding-left: 10px;
  border-radius: 0px;
  box-shadow: none;
  margin-top: 20px;
  text-align: center;
  letter-spacing: 6px;
  height: 40px;
}

/* line 643, ../compass/sass/style.scss */
footer {
  height: 60px;
  background-color: #dcdcdc;
  margin-bottom: 0px;
  margin-top: 0px;
  line-height: 60px;
  font-weight: 300;
  font-size: 12px;
}
/* line 651, ../compass/sass/style.scss */
footer #footer-text-container {
  width: 75%;
  float: left;
}
/* line 654, ../compass/sass/style.scss */
footer #footer-text-container #footer1, footer #footer-text-container #footer2, footer #footer-text-container #footer3 {
  display: inline-block;
  margin-left: 5%;
}
/* line 659, ../compass/sass/style.scss */
footer #fonticon-container {
  width: 20%;
  float: left;
  text-align: right;
  margin-right: 5%;
}
/* line 664, ../compass/sass/style.scss */
footer #fonticon-container .fonticon {
  width: 50px;
  line-height: 60px;
  display: inline-block;
}
/* line 668, ../compass/sass/style.scss */
footer #fonticon-container .fonticon img {
  width: 24px;
  opacity: 0.6;
}
/* line 672, ../compass/sass/style.scss */
footer #fonticon-container .fonticon img:hover {
  opacity: 1.0;
}

@media screen and (max-width: 800px) {
  /* line 685, ../compass/sass/style.scss */
  footer #footer-text-container {
    float: none;
    width: 100%;
    text-align: center;
    margin: 0px;
  }
  /* line 690, ../compass/sass/style.scss */
  footer #footer-text-container #footer1, footer #footer-text-container #footer2, footer #footer-text-container #footer3 {
    margin: 0px 2.5% 0 2.5%;
  }
  /* line 694, ../compass/sass/style.scss */
  footer #fonticon-container {
    float: none;
    width: 100%;
    text-align: center;
  }

  /* line 700, ../compass/sass/style.scss */
  #main #about-us #descriptions {
    width: 75%;
  }

  /* line 706, ../compass/sass/style.scss */
  #navbar {
    display: none;
  }

  /* line 710, ../compass/sass/style.scss */
  .margin-adjust {
    margin-top: 0px;
  }

  /* line 714, ../compass/sass/style.scss */
  .burger-menu {
    display: block;
  }

  /* line 718, ../compass/sass/style.scss */
  #skills-wrapper #count-wrapper {
    height: 341px;
  }
  /* line 720, ../compass/sass/style.scss */
  #skills-wrapper #count-wrapper .num1, #skills-wrapper #count-wrapper .num2, #skills-wrapper #count-wrapper .num3, #skills-wrapper #count-wrapper .num4 {
    width: 50%;
  }

  /* line 724, ../compass/sass/style.scss */
  #contact-me form #left {
    width: 70%;
    margin: auto;
    float: none;
  }

  /* line 729, ../compass/sass/style.scss */
  #contact-me form #right {
    float: none;
    margin: auto;
    width: 70%;
  }
  /* line 733, ../compass/sass/style.scss */
  #contact-me form #right .labels .form-control {
    height: 120px;
  }

  /* line 737, ../compass/sass/style.scss */
  #contact-me form button {
    width: 70%;
    margin-left: 15%;
  }

  /* line 742, ../compass/sass/style.scss */
  #pano-image #pano-text {
    top: 142px;
  }
}
@media screen and (max-width: 575px) {
  /* line 756, ../compass/sass/style.scss */
  #portfolio-wrapper #pictures .portfolio .caption .caption-content .title {
    font-size: 24px;
  }
  /* line 759, ../compass/sass/style.scss */
  #portfolio-wrapper #pictures .portfolio .caption .caption-content .description {
    font-size: 10px;
  }

  /* line 766, ../compass/sass/style.scss */
  footer #footer-text-container #footer3 {
    display: block;
    background-color: #dcdcdc;
    width: 100%;
    margin: 0px;
  }

  /* line 777, ../compass/sass/style.scss */
  #pano-image #pano-text {
    font-size: 16px;
    top: 151px;
    padding: 15px;
  }

  /* line 785, ../compass/sass/style.scss */
  #contact-me form #left {
    width: 80%;
    margin: auto;
    float: none;
  }

  /* line 790, ../compass/sass/style.scss */
  #contact-me form #right {
    float: none;
    margin: auto;
    width: 80%;
  }
  /* line 794, ../compass/sass/style.scss */
  #contact-me form #right .labels .form-control {
    height: 120px;
  }

  /* line 798, ../compass/sass/style.scss */
  #contact-me form button {
    width: 80%;
    margin-left: 10%;
  }
}
@media screen and (max-width: 534px) {
  /* line 807, ../compass/sass/style.scss */
  #main #about-us #descriptions {
    width: 85%;
    height: 190px;
  }
}
/* line 819, ../compass/sass/style.scss */
#resume {
  margin: 0px;
  padding: 0px;
  font-family: 'Inconsolata', sans-serif;
  font-weight: 400;
}

/* line 826, ../compass/sass/style.scss */
.red {
  color: #ff0066;
}

/* line 829, ../compass/sass/style.scss */
.blue {
  color: #80bfff;
}

/* line 832, ../compass/sass/style.scss */
.orange {
  color: #e69600;
}

/* line 835, ../compass/sass/style.scss */
.purple {
  color: #8a00e6;
}

/* line 839, ../compass/sass/style.scss */
.yellow {
  color: #e5e600;
}

/* line 842, ../compass/sass/style.scss */
.green {
  color: #00e600;
}

/* line 846, ../compass/sass/style.scss */
#page-wrapper {
  padding: 5%;
  height: 100vh;
  background: #1a1a1a;
  color: white;
}
/* line 851, ../compass/sass/style.scss */
#page-wrapper .indent {
  padding-left: 30px;
}
/* line 854, ../compass/sass/style.scss */
#page-wrapper #button-holder {
  margin-top: 30px;
  text-align: center;
}
/* line 857, ../compass/sass/style.scss */
#page-wrapper #button-holder button {
  padding: 15px;
  -webkit-animation-name: pulse;
  -webkit-animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
  border-radius: 3px;
  text-shadow: 0 0 3px rgba(255, 255, 255, 0.3);
  border: 1px solid #ff6b6b;
  font-size: 20px;
}
@-webkit-keyframes pulse {
  from {
    background-color: #ff1919;
  }
  50% {
    background-color: #890000;
  }
  to {
    background-color: #ff1919;
  }
}
